@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #24272B;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-family: "Archivo Black", sans-serif;
  font-weight: 800;
  font-style: normal;
}
